@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aprenda a construir un <a href="https://cloud.ibm.com/docs/assistant?topic=assistant-getting-started">Asistente Virtual con IBM Watson</a>.</p>
</div>
